h1{
    background-color: rgb(172, 238, 238);
}
p{
    background-color: rgb(237, 237, 172);
}
a{
    background-color: rgb(195, 243, 227);
}
div{
    background-color: rgb(255, 229, 190);
}
span{
    background-color: rgb(193, 245, 141);
}